*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 900px;
    padding: 30px;
    border: 1px solid green;
    margin: 30px auto;
    position: relative;
}
.content{
    width: 600px;
    height: 600px;
    margin: 30px auto;
    border: 1px solid black;
    position: relative;
}
.content .item{
    padding: 10px 30px;
    margin: 0 0;
    border: 1px solid red;
    width: 300px;   
}

.content .item.item-1{
    background: green;
    /* position: relative;
    left: calc(100% - 300px);
    top: calc(100% - 55px); */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   
}

.content .item.item-2{
    background: red;
}

.content .item.item-3{
    background: blue;
}

.content .item.item-4{
    background: blueviolet;
    position: fixed;
    bottom: 5px;
    right: 5px;
}