*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.modal{
    max-width: 600px;
    margin: 0 auto;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    z-index: 500;
    border: 1px solid #efefef;
    border-radius: 10px;
    background: #fff;
    transition: top 0.2s linear;
}

.modal.open{
    top: 5%;
}

.modal .modal__header{
    padding: 10px 20px;
    border-bottom: 1px solid #efefef;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modal .modal__header .close{
    background: transparent;
    border: none;
    color: gray;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
}

.modal .modal__body{
    padding: 20px;
}

.modal-bg{
    background: #00000087;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
}