:root {
  --container-width: 1326px;
  --column-spacing: 20px;
  --column-small-spacing: 10px;
  --column-max: 12;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 15px;
}

.d-flex {
  display: flex;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.align-items-start {
  align-items: flex-start !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--column-spacing);
  justify-content: space-between;
}

.row.column-small {
  column-gap: var(--column-small-spacing);
}

.row.column-collapse {
  column-gap: 0;
}

.row.row-small {
  row-gap: var(--column-small-spacing);
}

.row.row-medium {
  row-gap: var(--column-spacing);
}

.row.column-small > [class^=col-] {
  --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-small-spacing));
}

.row.column-collapse > [class^=col-] {
  --column-width: calc(100% / var(--column-max) * var(--column-size));
}

.col-1 {
  --column-size: 1;
  --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
  max-width: var(--column-width);
  flex-basis: var(--column-width);
}

.col-2 {
  --column-size: 2;
  --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
  max-width: var(--column-width);
  flex-basis: var(--column-width);
}

.col-3 {
  --column-size: 3;
  --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
  max-width: var(--column-width);
  flex-basis: var(--column-width);
}

.col-4 {
  --column-size: 4;
  --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
  max-width: var(--column-width);
  flex-basis: var(--column-width);
}

.col-5 {
  --column-size: 5;
  --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
  max-width: var(--column-width);
  flex-basis: var(--column-width);
}

.col-6 {
  --column-size: 6;
  --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
  max-width: var(--column-width);
  flex-basis: var(--column-width);
}

.col-7 {
  --column-size: 7;
  --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
  max-width: var(--column-width);
  flex-basis: var(--column-width);
}

.col-8 {
  --column-size: 8;
  --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
  max-width: var(--column-width);
  flex-basis: var(--column-width);
}

.col-9 {
  --column-size: 9;
  --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
  max-width: var(--column-width);
  flex-basis: var(--column-width);
}

.col-10 {
  --column-size: 10;
  --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
  max-width: var(--column-width);
  flex-basis: var(--column-width);
}

.col-11 {
  --column-size: 11;
  --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
  max-width: var(--column-width);
  flex-basis: var(--column-width);
}

.col-12 {
  --column-size: 12;
  --column-width: calc(100% / var(--column-max) * var(--column-size));
  max-width: var(--column-width);
  flex-basis: var(--column-width);
}

@media all and (min-width: 576px) {
  .col-sm-1 {
    --column-size: 1;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-sm-2 {
    --column-size: 2;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-sm-3 {
    --column-size: 3;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-sm-4 {
    --column-size: 4;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-sm-5 {
    --column-size: 5;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-sm-6 {
    --column-size: 6;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-sm-7 {
    --column-size: 7;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-sm-8 {
    --column-size: 8;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-sm-9 {
    --column-size: 9;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-sm-10 {
    --column-size: 10;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-sm-11 {
    --column-size: 11;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-sm-12 {
    --column-size: 12;
    --column-width: calc(100% / var(--column-max) * var(--column-size));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
}
@media all and (min-width: 768px) {
  .col-md-1 {
    --column-size: 1;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-md-2 {
    --column-size: 2;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-md-3 {
    --column-size: 3;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-md-4 {
    --column-size: 4;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-md-5 {
    --column-size: 5;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-md-6 {
    --column-size: 6;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-md-7 {
    --column-size: 7;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-md-8 {
    --column-size: 8;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-md-9 {
    --column-size: 9;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-md-10 {
    --column-size: 10;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-md-11 {
    --column-size: 11;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-md-12 {
    --column-size: 12;
    --column-width: calc(100% / var(--column-max) * var(--column-size));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
}
@media all and (min-width: 992px) {
  .col-lg-1 {
    --column-size: 1;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-lg-2 {
    --column-size: 2;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-lg-3 {
    --column-size: 3;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-lg-4 {
    --column-size: 4;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-lg-5 {
    --column-size: 5;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-lg-6 {
    --column-size: 6;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-lg-7 {
    --column-size: 7;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-lg-8 {
    --column-size: 8;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-lg-9 {
    --column-size: 9;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-lg-10 {
    --column-size: 10;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-lg-11 {
    --column-size: 11;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-lg-12 {
    --column-size: 12;
    --column-width: calc(100% / var(--column-max) * var(--column-size));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
}
@media all and (min-width: 1200px) {
  .col-xl-1 {
    --column-size: 1;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-xl-2 {
    --column-size: 2;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-xl-3 {
    --column-size: 3;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-xl-4 {
    --column-size: 4;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-xl-5 {
    --column-size: 5;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-xl-6 {
    --column-size: 6;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-xl-7 {
    --column-size: 7;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-xl-8 {
    --column-size: 8;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-xl-9 {
    --column-size: 9;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-xl-10 {
    --column-size: 10;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-xl-11 {
    --column-size: 11;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-xl-12 {
    --column-size: 12;
    --column-width: calc(100% / var(--column-max) * var(--column-size));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
}
@media all and (min-width: 1400px) {
  .container {
    padding: 0;
  }
  .col-xxl-1 {
    --column-size: 1;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-xxl-2 {
    --column-size: 2;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-xxl-3 {
    --column-size: 3;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-xxl-4 {
    --column-size: 4;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-xxl-5 {
    --column-size: 5;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-xxl-6 {
    --column-size: 6;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-xxl-7 {
    --column-size: 7;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-xxl-8 {
    --column-size: 8;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-xxl-9 {
    --column-size: 9;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-xxl-10 {
    --column-size: 10;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-xxl-11 {
    --column-size: 11;
    --column-width: calc(100% / var(--column-max) * var(--column-size) - var(--column-spacing));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
  .col-xxl-12 {
    --column-size: 12;
    --column-width: calc(100% / var(--column-max) * var(--column-size));
    max-width: var(--column-width);
    flex-basis: var(--column-width);
  }
}/*# sourceMappingURL=grid.css.map */