* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Medium.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Alfa Slab One";
  src: url("../fonts/AlfaSlabOne-Regular.ttf");
}
@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-Bold.ttf");
  font-weight: bold;
}
html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  color: #3d2514;
  font-family: Montserrat, sans-serif;
}

a {
  color: #3d2514;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #3d2514;
  margin: 15px 0;
}

p {
  margin-bottom: 15px;
}

input, textarea, button {
  border: none;
}

ul, ol {
  list-style: none;
}

.btn {
  background: #bf2222;
  color: #fff;
  padding: 10px 30px;
  font-family: "Alfa Slab One", sans-serif;
  display: inline-block;
}

.header {
  padding: 20px 0;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
.header .menubar {
  font-size: 2rem;
}
.header input[type=checkbox]:checked ~ .header__menu {
  left: 0;
  right: 0;
  opacity: 1;
}
.header .row > [class^=col-]:nth-child(1) {
  order: 2;
}
.header .row > [class^=col-]:nth-child(2) {
  order: 1;
  align-items: center !important;
}
.header .row > [class^=col-]:nth-child(3) {
  order: 3;
}
.header .header__logo img {
  max-width: 266px;
}
.header .header__address {
  display: flex;
  align-items: center;
  font-weight: bold;
  column-gap: 10px;
}
.header .header__menu {
  position: absolute;
  top: 100%;
  left: -100%;
  right: 100%;
  z-index: 100;
  padding: 25px 40px;
  background: rgba(61, 37, 20, 0.8901960784);
  opacity: 0;
  transition: all 0.4s linear;
}
.header .header__menu ul {
  display: flex;
  column-gap: 50px;
  flex-direction: column;
}
.header .header__menu ul li a {
  display: block;
  font-family: BebasNeue, sans-serif;
  font-size: 1.25rem;
  color: #fff;
  border-bottom: 1px dotted #fff;
  padding: 5px 0;
  transition: color 0.2s linear;
}
.header .header__menu ul li a:hover {
  color: #fff;
}

@media screen and (min-width: 992px) {
  .header {
    padding: 54px 0;
  }
  .header .row > [class^=col-] {
    order: unset !important;
  }
  .header .row > [class^=col-]:nth-child(2) {
    align-items: flex-end !important;
  }
  .header .row > [class^=col-]:nth-child(3) {
    display: none;
  }
  .header .header__menu {
    position: static;
    padding: 25px 0px;
    background: none;
    opacity: 1;
  }
  .header .header__menu ul {
    flex-direction: row;
  }
  .header .header__menu ul li a {
    color: unset;
    border: unset;
    padding: unset;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    position: absolute;
  }
}
.footer {
  margin-bottom: 30px;
}
.footer .footer__inner {
  background: url("../images/footer-bg.jpg") no-repeat;
  background-size: cover;
  color: #fff;
}
.footer .footer__inner .inner__top {
  padding: 10% 20px;
}
.footer .footer__inner .inner__top .footer--contact {
  height: 100%;
  font-family: BebasNeue, sans-serif;
}
.footer .footer__inner .inner__top .footer--contact p {
  display: flex;
  font-size: 1.3rem;
}
.footer .footer__inner .inner__top .footer--contact p i {
  display: block;
  width: 30px;
  font-size: 1.5rem;
  margin-right: 5px;
}
.footer .footer__inner .inner__bottom {
  padding: 0px 20px 20px;
}
.footer .footer__inner .inner__bottom .footer--copyright {
  font-family: "BebasNeue";
}
.footer .footer__inner .inner__bottom .footer--social {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
}
.footer .footer__inner .inner__bottom .footer--social li a {
  color: #090908;
  background: #fff;
  display: block;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
}

.banner {
  background: url("../images/header-bg.jpg") no-repeat;
  background-size: cover;
}
.banner .banner__inner {
  padding: 15% 0;
}
.banner .banner__inner .banner--text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner .banner__inner .banner--text .text__highlight {
  font-family: BebasNeue, sans-serif;
  font-size: 1.47rem;
  font-weight: normal;
  border: 2px dashed #3d2514;
  align-self: flex-start;
  padding: 3px 10px;
}
.banner .banner__inner .banner--text h1, .banner .banner__inner .banner--text h2 {
  font-family: "Alfa Slab One", sans-serif;
  margin: 0;
  text-shadow: 4px 4px 0 #fff;
  text-transform: uppercase;
}
.banner .banner__inner .banner--text h1 {
  font-size: 4rem;
}
.banner .banner__inner .banner--text h2 {
  font-size: 3.5rem;
}
.banner .banner__inner .banner--image {
  text-align: right;
  position: relative;
}
.banner .banner__inner .banner--image .badge {
  width: 170px;
  height: 170px;
  background: #bf2222;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: BebasNeue, sans-serif;
  position: absolute;
  left: 15%;
  bottom: 0;
}
.banner .banner__inner .banner--image .badge .badage__inner {
  border-radius: 50%;
  border: 2px dashed #fff;
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
}
.banner .banner__inner .banner--image .badge .badage__inner > * {
  height: 55%;
}
.banner .banner__inner .banner--image .badge .badage__inner span:nth-child(1) {
  font-size: 4.3rem;
}
.banner .banner__inner .banner--image .badge .badage__inner span:nth-child(2) {
  font-size: 1.89rem;
}
.banner .banner__inner .banner--image .badge .badage__inner span.last {
  font-size: 2rem;
}

@media screen and (min-width: 1200px) {
  .banner .banner__inner .banner--text h1 {
    font-size: 7.1rem;
  }
}
@media screen and (min-width: 768px) {
  .banner .banner__inner .banner--text h1 {
    font-size: 5rem;
  }
}
.sales {
  padding: 30px 0;
  background: #fff;
}
.sales .sales__item {
  overflow: hidden;
  border-radius: 15px;
  width: 100%;
}
.sales .sales__item img {
  width: 100%;
  height: 100%;
}
.sales .sales__item img:hover {
  transition: all 0.4s linear;
  opacity: 0.7;
  filter: grayscale(1);
  transform: scale(1.05);
}
.sales .sales__multi-row {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  row-gap: 30px;
}
.sales .sales__multi-row .sales__item {
  height: calc(50% - 15px);
}
.sales .sales__multi-row .sales__item img {
  height: 97%;
}

.products {
  padding: 30px 0;
  background: #fff;
}
.products .products__title {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}
.products .products__title span {
  background: #ffc045;
  font-family: BebasNeue, sans-serif;
  padding: 5px 15px;
  font-size: 1.56rem;
}
.products .products__title h2 {
  font-size: 3.1rem;
  text-transform: uppercase;
  font-family: "Alfa Slab One", sans-serif;
}
.products .products__list {
  margin-top: 30px;
}
.products .products__list .products--item {
  padding: 0 30px;
}
.products .products__list .products--item .item__info {
  text-align: center;
}
.products .products__list .products--item .item__info h3 {
  font-family: BebasNeue, sans-serif;
  font-weight: bold;
  font-size: 2.34rem;
}
.products .products__list .products--item .item__info .btn {
  transition: all 0.4s linear;
}
.products .products__list .products--item .item__info .btn:hover {
  background: #ffc045;
}
.products .products__list .products--item .item__image {
  height: 312px;
  text-align: center;
  margin-bottom: 40px;
}
.products .products__list .products--item .item__image a {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.products .products__list .products--item .item__image a img {
  transition: all 0.4s linear;
}
.products .products__list .products--item .item__image a img:hover {
  transform: scale(1.05);
  opacity: 0.7;
}
.products .products__list .products--item .item__image::after {
  content: "";
  display: block;
  width: 100%;
  height: 35px;
  background: url("../images/shadow.png") no-repeat center center;
  background-size: contain;
}

@media screen and (min-width: 1400px) {
  .products .products__list .row {
    margin-left: -40px;
    margin-right: -40px;
  }
}
.discover {
  padding: 30px 0;
  background: #fff;
}
.discover .discover__inner {
  box-shadow: 10px 10px 15px 5px #ccc;
  padding: 20px;
}
.discover .owl-carousel {
  padding-top: 10%;
}
.discover img {
  width: 100%;
  height: 100%;
}
.discover h3 {
  font-family: BebasNeue, sans-serif;
  color: #3d3d3d;
  font-size: 1.8rem;
}
.discover h2 {
  font-family: "Alfa Slab One", sans-serif;
  font-size: 2.6rem;
}
.discover h2, .discover h3 {
  margin: 0;
}
.discover p {
  color: #3d3d3d;
  font-size: 1.3rem;
  margin-top: 15px;
}
.discover .owl-dots {
  text-align: left;
}
.discover .owl-dots .active span {
  background: #ffc045 !important;
}
.discover .owl-dots .owl-dot span {
  background: #dcdcdc;
  width: 12px;
  height: 12px;
}

.orders {
  padding: 60px 0;
  background: #fff;
}
.orders .orders__title {
  text-align: center;
}
.orders .orders__title h3 {
  font-family: BebasNeue, sans-serif;
  font-size: 1.8rem;
}
.orders .orders__title h2 {
  font-family: "Alfa Slab One", sans-serif;
  font-size: 3.1rem;
}
.orders .orders-form {
  padding-bottom: 10%;
}
.orders .orders-form input {
  padding: 10px 20px;
  border: 1px solid #bdbdbd;
  width: 100%;
  font-size: 1.3rem;
  font-family: BebasNeue, sans-serif;
}
.orders .orders-form input::placeholder {
  color: #3d3d3d;
  font-weight: normal;
}
.orders .orders-form button {
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  height: 100%;
  transition: all 0.4s linear;
}
.orders .orders-form button:hover {
  background: #ffc045;
}

@media screen and (min-width: 992px) {
  .orders {
    background: url("../images/book-bg.png") no-repeat;
    background-size: cover;
  }
}/*# sourceMappingURL=style.css.map */