*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.modal{
    max-width: 600px;
    margin: 0 auto;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    border: 1px solid #efefef;
    transition: all 0.4s linear;
    opacity: 0;
}

.modal .modal__header{
    display: flex;
    align-items: center;
    background: red;
    color: #fff;
}

.modal .modal__header h3{
    flex-basis: 90%;
    padding: 5px;
}

.modal .modal__header span{
    flex-basis: 10%;
    text-align: right;
    display: block;
    padding: 5px;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal .modal__body{
    padding: 20px;
}


.modal-wrapper::after{
    content: '';
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 100%;
    background: #00000070;
    transition: all 0.4s linear;
    opacity: 0;
}

.modal-wrapper.open .modal{
    top: 5%;
    opacity: 1;
}

.modal-wrapper.open::after{
    top: 0;
    bottom: 0;
    opacity: 1;
}
