@keyframes rotate {
    from{
        transform: rotate(0deg);
        border-radius: 50%;
    }

    25%{
        transform: rotate(90deg);
        border-radius: 50%;
    }

    50%{
        transform: rotate(180deg);
        border-radius: 50%;
    }

    75%{
        transform: rotate(270deg);
        border-radius: 50%;
    }


    to{
        transform: rotate(360deg);
        border-radius: 50%;
    }
}
.images{
    text-align: center;
}

.images img{
    width: 200px;
    height: 200px;
    border-radius: 25px;
    animation: rotate 2s 2s linear infinite;
}