* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}
.editor {
  min-height: 200px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 3px 3px #ccc;
  padding: 15px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.toolbar button,
.toolbar input.color {
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 0;
  cursor: pointer;
}

.toolbar .toolbar-right {
  display: flex;
  gap: 10px;
}

.toolbar .toolbar-right button.active {
  background: gray;
  color: #fff;
}

.counter {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 10px;
}

.images {
  border: 1px solid #efefef;
  display: flex;
  gap: 10px;
  padding: 10px;
}

.images .image-item {
  height: 100px;
  width: 100px;
  cursor: pointer;
  background-image: url("https://static.wikia.nocookie.net/otonari-no-tenshi/images/c/c9/No_images_available.jpg/revision/latest?cb=20220104141308");
  background-size: 100% 100%;
}
