*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container{
    max-width: 600px;
    margin: 30px auto;
}

.lists{
    height: 400px;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    /* gap: 10px 20px; */
    /* row-gap: 10px;
    column-gap: 20px; */
}

.item{
    padding: 10px 20px;
    background: green;
    color: #fff;
    border: 1px solid #fff;
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* flex-basis: 100px; */
    flex: 0 1 auto;
}


.item:nth-child(4){
    order: 1;
}

.item:nth-child(3){
    order: 2;
}


.item:nth-child(2){
    order: 3;
}

.item:nth-child(1){
    order: 4;
}
