//Variable => Biến toàn cục
$primaryColor: yellow;
$secondaryColor: green;
$backgroundColorSection: rgb(0, 251, 29);
$baseFontSize: 16px;
$fontFamily: "Roboto", sans-serif;
$textColor: #333;
$linkColor: #004ea0; 
//Nên đặt tên biến theo cú pháp camelCase
//Cú pháp đặt tên: camelCase, PascalCase, undercore
