.posts {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.posts img {
  width: 200px;
  float: left;
  margin-right: 15px;
}

.posts img.right {
  float: right;
  margin-right: 0;
  margin-left: 15px;
}

.posts::after {
  content: "";
  display: block;
  clear: both;
}
