*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
  }

body{
    height: 2000px;
}

a{
    text-decoration: none;
    color: #333;
}

ul, ol{
    list-style: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    padding: 20px 0;
}

.header.fixed .menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
}

.header .menu{
    background: green;
    margin: 10px 0;
}

.header .menu ul{
    display: flex;
}

.header .menu ul li a{
    display: block;
    color: #fff;
    padding: 10px 30px;
}

main section{
    height: 100vh;
}